.login {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .register-image-cont {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .register-image {
      width: 400px;
      height: 400px;
      background-image: url(../../assets/images/register-image.jpeg);
      background-size: cover;
      background-position: center center;
    }
  }

  form {
    flex: 1;
    padding: 64px;
    background: #fff;
    transition: all 0.5s;
    border-radius: 10px;

    p {
      font-size: 12px;
      color: #686868;
      margin-bottom: 64px;
    }
  }
  .social {
    display: flex;
    align-items: center;
    margin-top: 64px;
    gap: 16px;
    .social-icn {
      border: 1px solid #686868;
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }
    .social-title {
      font-size: 12px;
      color: #686868;
      margin-bottom: 0px !important;
    }
  }
  .already {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 64px;
    gap: 16px;
    .already-title {
      font-size: 12px;
      color: #686868;
      margin-bottom: 0px !important;
    }
    .already-btn button {
      background: transparent !important;
      color: #686868 !important;
      border: 1px solid #686868 !important;
      width: 100px;
      border-radius: 30px;
      height: 35px;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
    }
  }

  button {
    background: #6439ff;
    cursor: pointer;
    color: #fff;
    border: none;
    width: 200px;
    border-radius: 30px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
  }
}
.formInput {
  position: relative;
  input {
    height: 40px;
    padding: 5px 15px;
    width: -webkit-fill-available;
    border: solid 1px #999;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    margin-bottom: 16px;
  }
  input:focus {
    outline: none;
    border-color: #686868;
  }
  label {
    position: absolute;
    top: -7px;
    font-size: 12px;
    white-space: nowrap;
    background: #fff;
    text-align: left;
    left: 15px;
    padding: 0 5px;
    color: #686868;
    pointer-events: none;
  }
}
@media only screen and (max-width: 768px) {
  .login{
    flex-direction: column !important;
  }
  .login .register-image-cont{
    width: 100%;
  }
  .login .register-image-cont .register-image {
    width: 300px;
    height: 300px;
    } 
    .login form {
      padding: 16px;
  }
  .login .already{
    margin-bottom: 16px;
  }
  .login .already .already-btn button{
    width: 80px;
    height: 25px;
    font-size: 12px;
  }
  .already h1{
    font-size: 25px;
  }

.login form p {
  margin-bottom: 32px;
}
.formInput input {
  height: 30px;
}
.login button {
  width: 120px;
  height: 30px;
  font-size: 12px;
  font-weight: 500;
}
}

@media   (min-width: 769px) and (max-width: 1024px) {
  .login .register-image-cont .register-image {
    width: 350px;
    height: 350px; }

}